In [ ]:
import sqlite3

conn = sqlite3.connect('data.db')
c = conn.cursor()

In [ ]:
table_name = 'users'
sql_command = f'DROP TABLE IF EXISTS {table_name};'
c.execute(sql_command)
conn.commit()

In [ ]:
c.execute('''CREATE TABLE users 
          (name text, 
          email text)''')
c.execute("Insert into users values ('Jack','jack@abc.com')")
conn.commit

In [ ]:
for row in c.execute('''select * 
                     from users'''):
  print('row:', row)

In [ ]:
users = [('Denise', 'denise@abc.com'),('Mary', 'mary@abc.com'),('John', 'john@abc.com')]

c.executemany("insert into users values (?,?)", users)
conn.commit()

for row in c.execute('''select * from users'''):
  print('row:', row)

In [ ]:
user_collection = []

for row in c.execute('''select * from users'''):
  user_collection.append(list(row))

print(user_collection)

In [ ]:
conn.close

## Working with csv files

In [ ]:
import csv
import os

In [ ]:
os.chdir('/Users/jcody/github/extra-data')

In [ ]:
with open ('users.csv','w',newline='') as csvfile:
  wtr = csv.writer(csvfile,
                   delimiter=',',
                   quotechar='"',
                   quoting=csv.QUOTE_NONNUMERIC)
  wtr.writerows(user_collection)

In [ ]:
uc2 = []
with open('Sales.csv', 'r') as csvfile:
  rdr = csv.reader(csvfile,
                   delimiter=',',
                   quotechar='"')
  for line in rdr:
    uc2.append(line)

In [ ]:
for row in uc2[:10]:
    print(row)